*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
main{
  max-width: 70rem;
  margin: 0 auto;
}
section p{
  max-width: 67.375rem;
  font-size: 1rem;
  padding-bottom: 2.5rem;
  text-align: center;
  
}
ol{
  padding-top: 4rem;
  border-top: 0.0625rem solid black;
}
img{
  border-radius: 1.625rem;
  margin-bottom: 1.5rem;
}
